body{
    background-image: url(assets/background.png);
    background-color: black;
    color : white;
    border: 2px solid white;
}
.light-mode{
    background-color: white;
    color: black;
    border: 1px solid black;
}
#new{
    width: 32%;
}
#newFont{
    font-size: 1.5rem;
}
#total{
    width: 71.5%;
    font-size: 1rem;
}
.global{
    width: 25%;
    font-size: 1.5rem;
}
#deffinition{
    font-size: large;
}
#fontDeff{
    font-size: 1.3rem;
    color: red;
}
#newGlobal{
    font-size: 2.7rem;
}
.fontNew{
    font-size: large;
}
.total{
    font-size: 1.5rem;
}
.foot{
    font-size: medium;
    margin-top: 1.2%;
    margin-left: 5%;
}
@media only screen and (max-width: 767px){
    *{
        font-size: small;
    }
    .row{
        width: auto;
    }
    .bi{
        display: none;
    }
    .last{
        font-size: small;
    }
    #new{
        width: 100%;
        margin: 2%;
        margin-top: 1%;
    }
    #total{
        width: 100%;
        margin: 1%;
        margin-bottom: 2%;
    }
    .global{
        width: 70%;
    }
    #deffinition{
        display: none;
    }
    .img{
        width: 65%;
    }
    .fontNew{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 991px){
    #deffinition{
        /* display: none; */
        font-size: medium;
    }
    #fontDeff{
        font-size: 1rem;
    }
    .fontDeffDis{
        display: none;
    }
    .img{
        width: 75%;
    }
    #newGlobal{
        font-size: 2rem;
    }
}